* {
  font-family: sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #191414;
}

textarea {
  height: 90vh;
  width: 92vw;
  resize: none;
  outline: none;
  background-color: #191414;
  color: #ffffff;
  border-radius: 5px;
  margin: 1vh 1vw;
}

.button-container {
  color: white;
  font-weight: bold;
}

button {
  background-color: #1db954;
  color: #ffffff;
  font-weight: bold;
  padding: 0.75vh;
  border: 1px solid #1db954;
  border-radius: 50px;
}

.PopUp {
  position: fixed;
  left: 25%;
  top: 10%;
  width: 50%;
  background-color: #1db954;
  color: #ffffff;
  font-weight: bold;
  border: 1px solid #ffffff;
  border-radius: 1em;
}

.close {
  text-align: right;
  color: #191414;
  padding: 0 1rem;
}

.top {
  display: flex;
  justify-content: space-around;
}
