textarea {
  resize: none;
  height: 90vh;
  width: 95vw;
  margin: 1vh 1vw;
}

/* .during-seen {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
} */

.PopUp {
  position: fixed;
  left: 25%;
  top: 30%;
  width: 50%;
  border: 1px solid black;
  border-radius: 1em;
  background-color: black;
  color: white;
}
